<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-Type" content="text/html;charset=utf-8" />
    <title>Admin</title>
    <%= stylesheet_link_tag ['admin','formtastic', 'formtastic_changes'] %>
    <%= javascript_include_tag ['jquery','jquery-ui','jrails','minmax'] %>
    <%= yield :header %>
</head>
<body>
  <%= render :partial => "admin/layouts/header" %>

  <div id="wrapper">
    <%= render :partial => "admin/layouts/sidebar" %>
    <div id="content">
      <% for type, message in flash %>
        <div id="<%= type %>"><strong><%= type.to_s.humanize %></strong>: <%= message %></div>
      <% end %>
      <% if @breadcrumbs %>
        <div id="breadcrumbs" style="float: right; padding-right: 20px;">
          <%= link_to 'Users', admin_users_path %> > Create
        </div>
      <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
